<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Duplicate Tracks Found</title>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <h1>Duplicate Tracks ({{ duplicates|length }})</h1>
    {% if duplicates %}
        <ul>
        {% for duplicate in duplicates %}
            <li>
                {{ duplicate.name }}
                <button data-url="{{ url_for('remove_duplicate', playlist_id=playlist_id, track_id=duplicate.id) }}" class="remove-btn">Remove</button>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No duplicate tracks found.</p>
    {% endif %}
    <h2>Potential Duplicate Songs Based On Song Duration ({{ potential_duplicates|length }})</h2>
    {% if potential_duplicates %}
        <ul>
        {% for duplicate in potential_duplicates %}
            <li>
                {{ duplicate.name }} (Duration difference: {{ duplicate.duration_difference }}ms)
                <button data-url="{{ url_for('remove_duplicate', playlist_id=playlist_id, track_id=duplicate.id) }}" class="remove-btn">Remove</button>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No potential duplicates found based on duration.</p>
    {% endif %}
    
    <h3>Tracks with Missing Information ({{ missing_info_tracks|length }})</h3>
    {% if missing_info_tracks %}
        <ul>
        {% for track in missing_info_tracks %}
            <li><a href="https://open.spotify.com/track/{{ track.id }}">{{ track.id }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No tracks with missing information.</p>
    {% endif %}
</body>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var removeButtons = document.querySelectorAll('.remove-btn');
        removeButtons.forEach(function(btn) {
            btn.addEventListener('click', function() {
                var url = this.getAttribute('data-url');
                confirmRemoval(url);
            });
        });
    });

    function confirmRemoval(url) {
        console.log(url);
        Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = url;
            }
        });
    }
</script>
</html>

